<div class="card card-body mb-2">
    <p><b>Your Name: </b>{{name}}</p>
    <p><b>Your Email: </b>{{email}}</p>
    <p><b>Your Avatar:</b>
    {{#if avatar.data}}
    <img src="data:image/{{avatar.contentType}}; base64, {{avatar.data}}" width="50" height="50">
    <form action="/users/profile?_method=DELETE" method="POST">
       <input type="hidden" name="_method" value="DELETE">
       <input type="submit" class="btn btn-danger btn-block" value="Delete Avatar">
    </form>
    {{else}}
    No Avatar shown!
    {{/if}}
    </p>
    <br>
    {{!-- upload box --}}
    <form action="/users/profile" enctype="multipart/form-data"
    method="POST">
    <div>
        <label for="avatarUpload"
        class="form-label">Upload New Image for Avatar</label>
        <input type="file" name="avatarUpload"
        id="avatarUpload"
        class="form-control"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Upload Avatar</button>
    </form>
</div>  