<style>
.btn-text-left{
	text-align: left;	
}
.btn-text-right{
	text-align: right;
}

input[type=file]::file-selector-button {
  margin-right: 30px;
  border: none;
  background: grey;
  padding: 0px 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0da568;
}
</style>
{{!-- 
<div class="container py-3 my-1">
  <div class="card">
    <div class="card-body text-center text-muted">
      <h1>Reviewing your bookings</h1> 
    </div>
  </div>  
</div> --}}

<div class="container py-4 my-4">

<div class="container py-4 my-4">  
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
     
          {{#if avatar.data}}
            <img class="mb-4 rounded-circle mx-auto d-block" src="data:image/{{avatar.contentType}}; base64, {{avatar.data}}" width="200" height="200">
              <div class="col mb-12">
                  
              </div>
 
          {{else}}
            <p><h3 class="text-center text-muted">Create avatar</h3></p>
            <div class="text-center mb-4">
            <img class="mb-4 rounded-circle mx-auto d-block" src="" alt="" width="150" height="150">
            <form action="/users/profile" enctype="multipart/form-data"method="POST">
            <label for="avatarUpload" class="form-label text-center text-muted"><small>upload your avatar now</small></label>  
          {{/if}}
            </p>
                {{!-- upload box --}}
            <div class="text-center mb-4">
                <div class="row row-cols-1 row-cols-md-12">
                  <div class="col mb-2">
                    <button type="submit" class="btn btn-light">Upload</button>
                    
                  </div>
                
                  <div class="col mb-2">
                    <form action="/users/profile?_method=DELETE" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="submit" class="btn btn-light" value="Delete">
                    </form>
                  </div>
                             
                  <div class="col mb-10">         
                      <input 
                      type="file" accept="image/*" 
                      name="avatarUpload"
                      id="avatarUpload"
                      class="form-control"/>
               
                  </div>
                
             
                  <div class="col mb-12">
                    <p><h3 class="text-center">{{name}}</h3></p>
                    <p><h3 class="text-center">{{email}}</h3></p>
                  </div>

                  <div class="col mb-12">
                  
                  </div> 
                                     
                </div>             
            </div>    
        </div>
      </div>
    </div>
</div>

{{!-- booking records --}}
      
        {{!-- <div class="col mb-4">
          <div class="card">
            <div class="card-body">      
              <div class="text-muted">
                <h3>Venue     :</h3>
                <p>BookingID : {{_id}} </p>
                <h1>{{facility}}</h1>
              </div>
              <h5>Time  : {{session}}</h5>
              <h5>Date : {{bookingDate}}</h5>
              <br>
              <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-10">
                  <a href="/bookings/edit/{{_id}}" class="btn btn-light btn-block">Edit</a>
                </div> 
                <div class="col mb-14">
                  <form action="/bookings/{{_id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="submit" class="btn btn-light btn-block" value="Cancel" />
                  </form>
                </div>
              </div>
            </div>  
          </div>
        </div>
      

      </div>
    </div>
</div> --}}

